<form class="add-resource">
    <h3>Add Resource:</h3>
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" />
    </div>
    <div>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" />
    </div>
    <div>
        <label for="location">Location (Please use: Denver, Telehealth, Aurora, Boulder, or Colorado Springs): </label>
        <input type="text" id="location" />
    </div>
    <div>
        <label for="credential">Credential(s): </label>
        <input type="text" id="credential" />
    </div>
    <div>
        <label for="pronouns">Pronouns: </label>
        <input type="text" id="pronouns" />
    </div>
    <div>
        <label for="organization">Organization: </label>
        <input type="text" id="organization" />
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" id="description" />
    </div>
    <div>
        <label for="insurance">Insurance Accepted or Private Pay/Sliding Scale: </label>
        <input type="text" id="insurance" />
    </div>
    <div>
        <label for="address">Address: </label>
        <input type="text" id="address" />
    </div>
    <div>
        <label for="phone_number">Phone Number: </label>
        <input type="text" id="phone_number" />
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="text" id="email" />
    </div>
    <div>
        <label for="social">Social Media Handle: </label>
        <input type="text" id="social" />
    </div>
    <div>
        <button type="submit" id="submit-btn">Submit</button>
    </div>
</form>

<script src="js/addresource.js"></script>