<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queer Asterisk's Trans & Affirming Colorado Resource Login</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
</head>

<body>
  <div class="wrapper">
    <header>
    <main>
      <h2>Where would you like to find resources?</h2>
      <input type="radio" id="Denver" name="location" value="Denver">
      <label for="Denver">Denver</label></br>
      <input type="radio" id="Telehealth" name="location" value="Telehealth">
      <label for="Telehealth">Telehealth</label></br>
      <input type="radio" id="Boulder" name="location" value="Boulder">
      <label for="Boulder">Boulder</label></br>
      <input type="radio" id="Lakewood" name="location" value="Lakewood">
      <label for="Lakewood">Lakewood</label></br>
      <input type="radio" id="Colorado Springs" name="location" value="Colorado Springs">
      <label for="Colorado Springs">Colorado Springs</label></br>
      <input type="radio" id="Aurora" name="location" value="Aurora">
      <label for="Aurora">Aurora</label></br>
      <button type="button" id="submitBtn">Find Resources in Your Area!</button>
    </main>
    <footer>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

<script src="/js/main.js"></script>

</body>

</html>