.banner {
    padding: 60px;
    text-align: center;
    font-size: 22px;
    font-style: italic;
}

nav {
    text-align: right;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
}

h1, h2 {
    padding: 10px;
}

main {
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.signup-form, .login-form {
    padding: 20px;
    margin: 20px;
}

button {
    background-color: #2a9d8f;
    border: 0;
    padding: 1%;
    color: white;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 4px;
}

h1 {
    background-color: #2a9d8f;
    border: 0;
    padding: 1%;
    color: white;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 4px;
}

a {
    color: green; 
  }

main {
    text-align: center;
    padding: 10%;
  }

h3 {
    text-align: left;
    padding: 4%